body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #434455;
  width: 1300px;
  height: 60px;
  flex-direction: column;
  border: 1px solid none;
  z-index: 90;
}
:root {
  --primary-color: #404bbf;
  --secondary-color: #f4f4fd;
}
p,
h2 {
  color: #434455;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
img {
  display: block;
}
/* Header */
/* header logo ve bilgi */
.all-header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  margin: 0px auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.all-header .container {
  margin: 0px auto;
}
.all-header .container .container-nav .header {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.all-header .container .container-nav .header .header-one .header-studio {
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-header
  .container
  .container-nav
  .header
  .header-one
  .header-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
/* header logo ve bilgi kısmı BİTTİ */

/* Header BİTTİ */

/* H1 ve Buton */
.section-main .container {
  flex-direction: column;

  align-items: center;
}
.section-main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 188px 0;
  color: #434455;
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
}
.section-main .container .section-text {
  color: white;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  max-width: 496px;
  display: flex;
}
.section-main .container .section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-main .container .section-button:hover {
  background-color: #404bbf;
}
.section-main .container .section-button:focus {
  background-color: #404bbf;
}
/* H1 ve Buton BİTTİ */
/* Bütün Linkler */
.header .header-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header .header-studio:hover {
  color: #404bbf;
}
.header-studio:focus {
  color: #404bbf;
}
/* Bütün Linkler BİTTİ */
/* Header Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part-five {
  color: #2e2f42;
}
/* Header Logo BİTTİ */
/* Address */
.address {
  font-style: normal;
  border: 1px solid none;
  display: flex;
  margin-left: 285px;
  padding-right: 0px;
}

.address .address-mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  gap: 0px;
  text-decoration: none;
  border: 1px solid none;
}
.all-header .container .address .address-ul {
  border: 1px solid none;
  display: flex;
  gap: 40px;
  margin: 0px;
  list-style-type: none;
  align-items: center;
  padding-left: 5px;
  justify-content: center;
}
.all-header .container .address .address-ul .mail .address-mail {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-header .container .address .address-ul .phone .address-mail {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .address-mail:hover {
  color: #404bbf;
  font-style: normal;
}
.address .address-mail:focus {
  color: #404bbf;
  font-style: normal;
}
/* Address BİTTİ */
/* Bütün Paragraflar */
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
  color: #8e8f99;
}
/* Bütün Paragraflar BİTTİ */
/* Section second part */
.second {
  padding: 120px 0;
}
.second .container .second-container-ul {
  display: flex;
  gap: 24px;
}
.second .container .second-container-ul .second-one {
  list-style-type: none;
  flex-basis: calc((100% - 72px) / 4);
}
.second .container .second-container-ul .second-one .second-one-icons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.second .container .second-container-ul .second-one .second-part-title {
  margin-bottom: 8px;
  width: 264px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Section second part BİTTİ */
/* Out TEAM class 3*/
.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
  width: max-content;
}
.our-team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
}
.our-team .social-media-list-container .social-media-list {
  margin-right: 0px;
  display: flex;
  padding: 0px;
}
.our-team .container .our-team-title {
  margin-bottom: 72px;
  padding-bottom: 0px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  border: 1px solid none;
  display: flex;
}

.our-team .our-team-photo .our-team-photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team .our-team-photo .our-team-photo-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-team .our-team-photo {
  border: 1px solid none;
  padding: 0px 0px;
}
.our-team .container .our-team-ul {
  display: flex;
  gap: 24px;
  border: 1px solid none;
  padding-left: 0px;
  flex-basis: calc((100% - 72px) / 4);
  border: 1px solid none;
  padding: 0px 0px;
}
.our-team .container .our-team-ul .social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.our-team .container .our-team-ul .social-media-list .social-media-list-one {
  width: 40px;
  height: 40px;
  list-style-type: none;
}
.our-team
  .container
  .our-team-ul
  .social-media-list
  .social-media-list-one
  .social-media-list-one-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-team
  .container
  .our-team-ul
  .social-media-list
  .social-media-list-one
  .social-media-list-one-link
  .icon-all {
  fill: #f4f4fd;
}
.our-team
  .container
  .our-team-ul
  .social-media-list
  .social-media-list-one
  .social-media-list-one-link:hover {
  background-color: #404bbf;
}
.our-team
  .container
  .our-team-ul
  .social-media-list
  .social-media-list-one
  .social-media-list-one-link:focus {
  background-color: #404bbf;
}
.our-team .container .our-team-ul .our-team-photo {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team .container .our-team-ul .our-team-photo {
  width: calc((100% - 72px) / 4);
  border: 1px solid none;
  padding: 0px 0;
}
.our-team .container .our-team-ul .our-team-photo .social-media-list-container {
  padding: 32px 0;
}
.our-team
  .container
  .our-team-ul
  .our-team-photo
  .container-two-people
  .our-team-photo-title {
  text-align: center;
  margin-bottom: 8px;
}
.our-team .container .our-team-ul .our-team-photo .container-two-people {
  text-align: center;
  padding: 32px 0px;
}
.our-team
  .container
  .our-team-ul
  .our-team-photo
  .container-two-people
  .our-team-photo-title
  .our-team-photo-paragraf {
  text-align: center;
}
.our-team
  .container
  .our-team-ul
  .our-team-photo
  .social-media-list-container
  .social-media-list
  .social-media-list-one
  .social-media-list-one-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Our TEAM BİTTİ */
/* Our Portfolio */

.third {
  padding: 120px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.third .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-bottom: 72px;
  text-align: center;
  position: relative;
}
.third .container .third-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  border: 1px solid none;
  justify-content: center;
  display: flex;
}
.third .container .third-one {
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  text-align: center;
  flex-direction: row;
}

.third .container .third-one .third-photo {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.third .container .third-one .third-photo:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.third .container .third-one .third-photo .third-photo-all {
  transform: translateY(0%);
  position: relative;
  overflow: hidden;
}
.third .container .third-one .third-photo .third-one-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  flex-basis: calc((100% - 72px) / 4);
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}
.third .container .third-one .third-photo .third-one-container img {
  display: block;
  height: 100%;
  width: 100%;
}
.third .container .third-one .third-photo .third-photo-paragraf-two {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.third .container .third-one .third-photo:hover .third-photo-paragraf-two {
  transform: translateY(0%);
  height: 100%;
  width: 100%;
}
.third .third-photo .third-photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.third .third-photo .third-photo-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  height: 100%;
  width: 100%;
}
/* Our Portfolio BİTTİ */
/* img etiketleri */

/* header kısmı container */
.container {
  width: 1158px;
  margin: 0 auto;
  display: flex;
}
.container .container-nav {
  display: flex;
  align-items: center;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0px;
}
.footer .container,
a {
  display: flex;
  align-items: baseline;
}
.footer .container .footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
  color: #4d5ae5;
}
.footer .container .footer-logo .footer-logo-studio {
  color: #2e2f42;
  color: #f4f4fd;
}
.footer .container .footer-paragraf {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
  height: 100%;
}
.footer .container .footer-container-logo {
  margin-right: 120px;
}
.footer .container .footer-container-media .social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer
  .container
  .footer-container-media
  .social-media-icon
  .social-media-icon-one {
  width: 40px;
  height: 40px;
}
.footer .container .footer-container-media .social-media-icon {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}
.footer
  .container
  .footer-container-media
  .social-media-icon
  .social-media-icon-one
  .social-media-icon-one-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer
  .container
  .footer-container-media
  .social-media-icon
  .social-media-icon-one
  .social-media-icon-one-link:hover {
  background-color: #31d0aa;
}
.footer
  .container
  .footer-container-media
  .social-media-icon
  .social-media-icon-one
  .social-media-icon-one-link:focus {
  background-color: #31d0aa;
}
.social-media-icon-one-link-one {
  fill: #f4f4fd;
}
.container-two {
  padding-left: 50px;
  gap: 24px;
}
.container-two .subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.container-two .form {
  display: flex;
  gap: 24px;
}
.container-two .form .form-label {
  gap: 24px;
}
.container-two .form .form-label .form-label-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.container-two .form .form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  gap: 16px;
  padding-top: 8px;
  align-items: center;
  cursor: pointer;
}
.container-two .form .form-button .icon-frame {
  margin-left: 16px;
}
/* Footer BİTTİ */

/* Modal BÖlümü*/
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  display: flex;
}
.is-close {
  display: none;
}
.modal-window .modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  z-index: 101;
  margin-bottom: 8px;
}
.modal-window .modal-container .modal-container-form {
  margin-bottom: 8px;
}
.modal-window .modal-container .modal-container-form .onay-box {
  margin-bottom: 24px;
}
.modal-window .modal-container .modal-container-form .onay-box .onay-box-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
}

.modal-window
  .modal-container
  .modal-container-form
  .onay-box
  .onay-box-label
  .onay-box-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-window
  .modal-container
  .modal-container-form
  .onay-box
  .checkbox-input:checked
  + .onay-box-label
  .onay-box-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-window
  .modal-container
  .modal-container-form
  .onay-box
  .onay-box-label
  .onay-box-link {
  color: #4d5ae5;
}
.modal-window .modal-container .onay-box-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  margin-left: 96px;
}
.modal-window .modal-container .modal-container-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-window .modal-container .modal-container-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window .modal-container .modal-container-button:hover {
  background-color: #404bbf;
  border: none;
}
.modal-window .modal-container .modal-container-button:focus {
  background-color: #404bbf;
  border: none;
}
.modal-window .modal-container .modal-container-button .icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window .modal-container .modal-container-button:hover .icon-close {
  fill: #ffffff;
}
.modal-window .modal-container .modal-container-button:focus .icon-close {
  fill: #ffffff;
}
.modal-container .modal-container-form .modal-container-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-container
  .modal-container-form
  .modal-container-form-div
  .modal-container-form-div-five {
  position: relative;
  margin-bottom: 16px;
}
.modal-container .modal-container-form .modal-container-form-div {
  margin-bottom: 8px;
}
.modal-container .modal-container-form .modal-container-form-div-com {
  margin-bottom: 16px;
}
.modal-container
  .modal-container-form
  .modal-container-form-div-com
  .modal-container-form-div-com-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container
  .modal-container-form
  .modal-container-form-div-com
  .modal-container-form-div-com-textarea:focus {
  border-color: #4d5ae5;
}
.modal-container
  .modal-container-form
  .modal-container-form-div
  .modal-container-form-div-five
  .modal-container-form-div-five-one {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container
  .modal-container-form
  .modal-container-form-div
  .modal-container-form-div-five
  .modal-container-form-div-five-one:focus {
  border-color: #4d5ae5;
}
.modal-container
  .modal-container-form
  .modal-container-form-div
  .modal-container-form-div-five
  .icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container
  .modal-container-form
  .modal-container-form-div
  .modal-container-form-div-five:focus-within
  .icon-person {
  fill: #4d5ae5;
}
/* Modal BÖlümü BİTTİ*/

/* Media BÖlümü*/
/* Mobil */

@media (min-width: 320px) and (max-width: 767px) {
  body {
    max-width: 320px;
    height: 56px;
  }

  .all-header {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 56px;
  }
  .all-header .container {
    width: 320px;
    height: 56px;
    gap: 140px;
  }
  .all-header .container .container-nav .header {
    display: none;
  }
  .all-header .container .container-nav {
    width: 115px;
    height: 24px;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 18px;
  }

  .all-header .container .address {
    display: none;
  }
  .header-mobile-menu {
    padding: 0;
    fill: #2e2f42;
    border: none;
    background-color: transparent;
    color: black;
    margin-right: 16px;
  }
  .header-mobile-icon {
    color: #2e2f42;
  }
  .section-main {
    width: 320px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg.jpg);
  }
  .section-main .container {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 432px;
    gap: 72px;
  }

  .section-main .container .section-text {
    font-size: 36px;
    letter-spacing: 0.02px;
    display: block;
    text-align: center;
    width: 205px;
    height: 160px;
    margin: 0;
    padding: 0;
  }
  .section-main .container .section-button {
    width: 169px;
    height: 56px;
    line-height: 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second .container .second-container-ul .second-one .second-one-icons-div {
    display: none;
  }
  .second .container .second-container-ul .second-one .second-one-icons-div {
    flex-direction: column;
  }
  .second .container {
    display: flex;
    flex-direction: column;
    width: 289px;
    margin: 0;
    padding: 0;
    margin-top: -96px;
  }
  .second .container .second-container-ul {
    flex-direction: column;
    margin-left: -16px;
    gap: 72px;
  }
  .second .container .second-container-ul .second-one .second-part-title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
  }
  .second .container .second-container-ul .second-one .second-part-paragraf {
    font-size: 16px;
    line-height: 24px;
  }
  .our-team {
    width: 320px;
    height: 2232px;
    margin: 0;
    padding: 0;
  }
  .our-team .container .our-team-title {
    width: 162px;
    height: 40px;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  .our-team .container {
    flex-direction: column;
    width: 320px;
  }
  .our-team .container .our-team-ul {
    flex-wrap: wrap;
    flex-direction: column;
    width: 264px;
    gap: 72px;
  }

  .our-team
    .container
    .our-team-ul
    .our-team-photo
    .social-media-list-container {
    width: 264px;
  }
  .our-team .container .our-team-ul .our-team-photo {
    width: 264px;
  }
  .third {
    margin: 0;
    padding: 0;
    margin-top: 96px;
    width: 320px;
  }
  .third .container .third-title {
    font-weight: bold;
  }
  .third .container {
    width: 288px;
  }
  .third .container .third-one {
    margin: 0;
    padding: 0;
  }
  .third
    .container
    .third-one
    .third-photo
    .third
    .container
    .third-one
    .third-photo
    .third-one-container {
    width: 288px;
    height: 400px;
  }
  .third .container .third-one .third-photo:hover .third-photo-paragraf-two {
    display: none;
  }
  .third .container .third-one .third-photo .third-one-container img {
    width: 288px;
    height: 280px;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-top: -35px;
  }
  .third .container .third-one .third-photo {
    width: 288px;
    height: 400px;
  }
  .third .container .third-one .third-photo .third-one-container {
    border: none;
  }
  .third .third-photo .third-photo-title {
    line-height: 24px;
    height: 24px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 16px;
  }
  .third .third-photo .third-photo-paragraf {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    margin-left: 16px;
    margin-top: 8px;
  }
  .footer {
    width: 320px;
    flex-direction: column;
  }
  .footer .container {
    width: 320px;
    flex-direction: column;
    gap: 72px;
  }
  .footer .container .footer-container-logo {
    width: 288px;
    height: 112px;
    margin: auto;
  }
  .footer .container .footer-logo {
    justify-content: center;
    margin: auto;
  }
  .footer .container .footer-paragraf {
    width: 288px;
    height: 72px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .footer .container .footer-container-media {
    width: 208px;
    margin: auto;
    height: 80px;
  }
  .footer .container .footer-container-media .social-media {
    width: 96px;
    margin: auto;
    height: 24px;
  }
  .footer .container .footer-container-media .social-media-icon {
  }
  .container-two {
    margin: auto;
    width: 288px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    height: 136px;
    display: flex;
  }
  .container-two .form .form-label .form-label-input {
    width: 288px;
    height: 40px;
  }
  .container-two .form {
    display: flex;
    flex-direction: column;
  }
  .container-two .subscribe {
    width: 74px;
    height: 24px;
    font-size: 16px;
    padding-left: 100px;
    padding-top: 16px;
  }
  .container-two .form .form-label {
    width: 288px;
    height: 40px;
  }
  .container-two .form .form-button {
    width: 165px;
    height: 40px;
    margin-left: 65px;
  }
  .modal-window .modal-container {
    width: 288px;
    height: 625px;
  }
  .modal-window .modal-container .modal-container-paragraf {
    width: 245px;
    height: 48px;
    margin: 0;
    padding: 0;
  }
  .modal-window .modal-container .modal-container-form {
    width: 256px;
    height: 336px;
  }
  .modal-window .modal-container .modal-container-form {
    margin: 0;
    padding: 0;
    width: 256px;
    height: 58px;
    margin-left: -5px;
  }
  .modal-window .modal-container .onay-box-button {
    width: 169px;
    height: 56px;
    margin-left: 56px;
    border-radius: 4px;
  }
  .mobile-menu {
    position: sticky;
    width: 320px;
    position: fixed;
    height: 100vh;
    z-index: 100;
  }
  .mobile-menu .mobile-menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 100vh;
    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

    margin-bottom: 8px;
  }

  .mobile-menu .mobile-menu-container .modal-container-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu .mobile-menu-header .mobile-menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 151px;
    height: 200px;
  }
  .mobile-menu
    .mobile-menu-header
    .mobile-menu-ul
    .mobile-menu-li
    .mobile-menu-a {
    padding: 24px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu
    .mobile-menu-header
    .mobile-menu-ul
    .mobile-menu-li
    .mobile-menu-a:hover {
    color: #4d5ae5;
  }
  .mobile-menu .mobile-menu-header {
    text-decoration: none;
  }
  .mobile-menu-address {
    width: 193px;
    height: 72px;
    margin-top: 168px;
  }
  .mobile-menu-address .mobile-menu-address-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-address
    .mobile-menu-address-ul
    .mobile-menu-address-mail
    .mobile-menu-address-info {
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    gap: 0px;
    text-decoration: none;
    border: 1px solid none;
  }
  .mobile-menu-address
    .mobile-menu-address-ul
    .mobile-menu-address-mail
    .mobile-menu-address-info:hover {
    color: #404bbf;
    font-style: normal;
  }
  .mobile-menu-social-media {
    width: 280px;
    height: 40px;
  }
  .mobile-menu-social-media .social-media-list {
    gap: 40px;
    display: flex;
    list-style: none;
    width: 280px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 48px;
  }
  .mobile-menu-social-media .social-media-list .social-media-list-one {
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
  }
  .mobile-menu-social-media
    .social-media-list
    .social-media-list-one
    .social-media-list-one-link {
    text-align: center;
    align-items: center;
  }
}
/* Mobil BİTTİ*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1158px) {
  body .container {
    width: 768px;
  }
  .all-header {
    width: 768px;
    height: 72px;
  }
  .mobile-menu {
    display: none;
  }
  .header-mobile-menu {
    display: none;
  }
  .all-header .container .address {
    margin: 0;
  }
  .all-header .container .address .address-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
/*Tablet BİTTİ*/

/*Destop */
@media (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
  .header-mobile-menu {
    display: none;
  }
}
/*Destop BİTTİ*/

/* Media BÖlümü BİTTİ*/
